* {
    box-sizing: border-box;
}

.shopping-list li {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(220, 235, 249);
}

.shopping-list li .item-name {
    flex: auto;
}

.shopping-list li .delete-icon {
    transform: scale(0);
    transition: transform 200ms;
}

.shopping-list li:hover .delete-icon {
    transform: scale(1);
    transition: transform 200ms;
}

.shopping-list li[item-completed] .item-name {
    text-decoration: line-through;
    color: #999;
}